<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/33899e5f-58b0-480e-bd1b-b77918004c45/resourceGroups/Duett/providers/Microsoft.Web/sites/Duett-Server-API</ResourceId>
    <ResourceGroup>Duett</ResourceGroup>
    <ApiResourceId>/subscriptions/33899e5f-58b0-480e-bd1b-b77918004c45/resourceGroups/Duett/providers/Microsoft.ApiManagement/service/Duett-Server-API-Manager/apis/Duett-Server-Domain</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://duett-server-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>7b9f6d96-bed1-457d-9a65-1f263c8f42ff</ProjectGuid>
    <MSDeployServiceURL>duett-server-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Duett-Server-API</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Duett-Server-API</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>